html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: white;
  color: #474747;
}
:root {
  --primary-color-red: #ff4874;
  --primary-color-purple: #4b028c;
  --primary-gray-smooth: #f5f4f8;
  --primary-link-color: #474747;
}

p,
div,
span,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Didact Gothic', sans-serif;
}
p {
  font-weight: 300;
  font-size: 1rem;
}
img {
  max-width: 95%;
}

.navbar {
  padding: 0rem 1rem;
  .navbar-brand {
    img {
      max-height: 70px;
    }
  }
  .navbar-nav {
    .nav-link {
      color: vae(--primary-link-color);
      font-size: 0.875rem;

      &.nuxt-link-exact-active,
      &:hover {
        color: #ff4370;
      }
    }
  }
}

#wrapper {
  padding-top: 80px;
  aside {
    width: 225px;
    background-color: white;
    border-top-right-radius: 0;
    img {
      max-width: 60px;
      border-radius: 50%;
    }
    ul {
      padding-top: 32px;
    }
    a {
      padding: 16px 32px;
      color: rgba(#000000, 0.3);
      position: relative;
      &:before {
        content: ' ';
        width: 3px;
        background-color: var(--primary-color-red);
        position: absolute;
        right: 0px;
        bottom: 8px;
        top: 8px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        visibility: hidden;
      }
      &.nuxt-link-exact-active,
      &:hover {
        .fa {
          color: var(--primary-color-red);
        }
        &:before {
          visibility: visible;
        }
      }
    }
  }
}

.container-fluid {
  background: var(--primary-gray-smooth);
  #wrapper {
    padding-top: 0px;
  }
}

.btn {
  border: none;
  border-radius: 20px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  &.btn-primary {
    background: transparent
      linear-gradient(
        238deg,
        var(--unnamed-color-ff4370) 0%,
        var(--unnamed-color-4b028c) 100%
      )
      0% 0% no-repeat padding-box;
    background: transparent linear-gradient(238deg, #ff4370 0%, #4b028c 100%) 0%
      0% no-repeat padding-box;
    opacity: 1;
  }
}
.swal-button {
  border: none;
  border-radius: 20px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  background: transparent
    linear-gradient(
      238deg,
      var(--unnamed-color-ff4370) 0%,
      var(--unnamed-color-4b028c) 100%
    )
    0% 0% no-repeat padding-box;
  background: transparent linear-gradient(238deg, #ff4370 0%, #4b028c 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;

  &.swal-button--cancel {
    background: rgba(#000000, 0.2) !important;
    color: #000;
  }
}

input {
  &.form-control {
    font-size: 13px;
  }
  &.form-round {
    border-radius: 29px;
  }
  &.form-gray {
    background: #f0f0f0 0% 0% no-repeat padding-box;
    border: 0.20000000298023224px solid #d9d9d9;
  }
  &.error {
    border: solid 1px tomato !important;
  }
}

footer {
  background-color: #121538;
  font-size: 0.875rem;

  &.nuxt-link-active {
    color: #ff4370;
  }
  img {
    width: 150px;
  }
  ul {
    padding: 0;
    list-style: none;
    a {
      color: white;
      font-weight: 300;
      &:hover {
        color: white;
      }
    }
  }
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}

// image and paragraph side by side
.img-p-sbs {
  img {
    width: 90%;
  }
}

// feature list with gray background
.gray-feature {
  background-color: #f5f4f8;
  img {
    height: 70px;
  }
}

// subscribe panel
.subscribe-panel {
  background-color: #f5f4f8;
  border-radius: 5px;
  img {
    width: 100%;
  }
  h3 {
    color: #4b028c;
  }
}

//
.text-red {
  color: #ff4370;
}

// emoji picker
span.emoji {
  &.border {
    border: none !important;
  }
}

.nav-tabs {
  border-bottom: none !important;
  .nav-link {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    color: #474747;
    &.active,
    &:hover {
      color: var(--primary-color-red);
    }
  }
}

.review-question {
  .nav-link {
    &.active {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.33);
      position: relative;
      &::before {
        content: ' ';
        position: absolute;
        height: 20px;
        bottom: -15px;
        left: 0px;
        right: 0px;
        background: white;
        z-index: 1;
      }
    }
  }
}

// card with background white for FAQ
.card-bg-white {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: none;
  box-shadow: 0px 3px 99px #7a7a7a29;
  border-radius: 10px;
}

.card {
  border-color: var(--primary-color-red);
  border-radius: 0.8em;
  overflow: hidden;
  .card-header {
    border-color: var(--primary-color-red);
    background-color: var(--primary-color-red);
    color: white;
  }
}

a {
  color: var(--primary-color-red);
  &:hover {
    color: var(--primary-color-red);
  }
}

.cart {
  position: relative;
  .count-buble {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #ff9800;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 0.7rem;
    text-align: center;
    color: white;
    font-size: 0.8rem;
    border: solid 2px var(--primary-gray-smooth);
  }
}
